RUNTIME_DIR=/opt/historical-maps-backend/runtime

POSTGRES_DB=map_db
POSTGRES_USER=map_user
POSTGRES_PASSWORD=change_me

DB_ENABLED=true
DB_JDBC_URL=jdbc:postgresql://localhost:5432/map_db
DB_USER=map_user
DB_PASSWORD=change_me
DB_DRIVER_CLASS_NAME=org.postgresql.Driver
DB_FLYWAY_ENABLED=true
DB_FLYWAY_LOCATIONS=classpath:db/migration

ADMIN_TOKEN=change_me
BASE_MAP_DIRECTORY=/app/data
